.body {
	margin:auto
	margin-top:-2%

}
.container{
    width:100%;
    height: 790px;
	background-color: rgb(9, 10, 8);
	position: relative;

}
.card{
	width: 30%;
	height: 450px;
	background-color: rgb(14, 45, 45);
	position:absolute ;
	top: 15%;
	left: 35%;
	border-radius:15% ;
}
.code{
	width: 80%;
	height: 80%;
	margin: 10%;
}
.code img{
    width:100%;
    height: 80%;
    border-radius:10%
}
.h1{
	text-align: center;
	font-size: larger;
	text-decoration-color: aliceblue;
}